<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Offres</title>
      </head>

<app-header></app-header>







<div class="card-element-left card rounded-0 border-0 overflow-hidden" style="max-width: 15em; max-height:10em;">
    <div class="row">
        <div class="card-body">
          <h1 class="title card-title">Développeur back-end</h1>
          <p class="contract-date card-text">15/09/21</p>
          <p class="description card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="position-relative">
            <a href="#" class="no-gutters view-all btn position-absolute bottom-0 end-0">+</a>
        </div>
    </div>
  </div>

