*{
    font-family: CaviarDreams_Bold;
    color: #10547c;

}

.container-fluid{

    padding: 1.2em;
    margin-top: 1em;

}


.modal-body, .modal-header, .modal-footer{

    background-color: #e1f7e6;
}

input{
    border: none;
    background-color: #e1f7e6;
}

input[type=date]{
    max-width: 10em;
}

select{
    border: 0;
    background-color: #e1f7e6;
}

.btn-primary{
    background-color: #caddcf;
}

.btn-primary:hover{
    color: #d04453;
}

button{
    border: none;
}