*{
    color: #10547c;
}

h1{
    margin-left: 1.8em;
    margin-top: 0.45em;
    font-size: 1.5em;
    font-family: Mont-heavy;
}

table,td {
        border: 1px solid #10547c;
        font-family: CaviarDreams;
}

.listePrenom{
    margin: auto;
}

th{
    font-family: CaviarDreams_Bold;
    font-size: 1.1em;
    padding: 0.3em;
}


