<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Home</title>
      </head>

<app-header></app-header>

<section class="row offset-md-1 col-md-3">

<h1>Liste des stagiaires</h1>

</section>

<div class="row col-md-12">
    
    <div class="row col-md-11 listePrenom">
        <table class="table table-success table-striped">
            <thead>
                <tr>
                <th>PRÉNOM</th>
                <th>NOM</th>
                <th>RÔLE</th>
                <th>MAIL</th>
                <th>TÉLÉPHONE</th>
                <th>ADRESSE</th>   
            </tr>         
            </thead>
            <tbody>
                <tr *ngFor="let stagiaire of stagiaires">      
                    <td>{{stagiaire.prenom}}</td>
                    <td>{{stagiaire.nom}}</td>
                    <td>{{stagiaire.role}}</td>
                    <td>{{stagiaire.mail}}</td>
                    <td>{{stagiaire.tel}}</td>
                    <td>{{stagiaire.adresse}}</td>                                                      
                </tr>
            </tbody>
        </table>
    </div>
</div>

</html>