<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <form action="module/" method="post">
      <input type="text" name="nom">
      <input type="text" name="duree">
      <input type="text" name="thematique">
      <input type="text" name="obj_pedago">
      <input type="text" name="prerequis">
      <input type="text" name="contenus">
      <input type="text" name="supports">
      <input type="text" name="ressources">
      <input type="text" name="mode_eva">
      <input type="text" name="validation">
      <input type="text" name="modalite">
      <input type="submit">
    </form>
  </body>
</html>
