*{
    color: #10547c;
}


body{
    background-color: #caddcf;
 }

h1{
    margin-left: 1.8em;
    margin-top: 0.45em;
    font-size: 1.5em;
    font-family: Mont-heavy;
}

.bienvenue, .sec_plan{
    display: inline-block;
    vertical-align:text-bottom;
}

.text_plan{
    font-size: 1.1em;
}

.container{
    color: red;
    height: 800px;
}