<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Header</title>
      </head>

<header>
<nav class="container-fluid">

    <ul class="navbar navbar-expand-sm justify-content-end"> 

        <li class="nav-item">
            <a href="http://localhost:4200"><img  id="logo" class="logo img-fluid nav-item row col-md-7" src="assets/img/FG_logo_formenscop.png" alt="logo_formenscop"></a>
        </li>
        
       
        <li class="nav-item">
            <a  class="nav-link active " aria-current="page" href="#">Modules</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">Emploi</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">Chat</a>
        </li>

        <li class="nav-item">
            <a class="nav-link">Planning</a>
        </li>
       
        <li class="nav-item">
            <a class="nav-link" href="http://localhost:4200/stagiaires">Stagiaires</a>
        </li>

        
    </ul>
</nav>
</header>
</html>